@charset "UTF-8";

/* 统一入口Legomobi ui  */
// @import "legomobi";

/* 拆分调用 */
/* Legomobi sass工具函数 */
@import "legomobi/tools/tools";
/* Legomobi reset */
@import "legomobi/base/base";
/* Legomobi UI */
// @import "legomobi/ui/ui";
/* Legomobi Components */
// @import "legomobi/components/components";


html, body {
	font-family: "Microsoft Yahei";
}

.g-page {
	background-color: #f3f3f3;
	overflow: hidden;
}
/*------视频------*/
.g-video {
	position: relative;
	width: 100%;
	padding-bottom: 22px;
	margin-bottom: 10px;
	background-color: #fff;
	.video {
		width: 100%;
		position: relative;
	}
	img {
		width: 100%;
		display: block;
	}
	.video__ico {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -25px 0 0 -25px;
		width: 50px;
		height: 50px;
		background-image: url(../img/slice/ico-play.png);
		background-size: 100%;
	}
	.video__user {
		padding: 5px 10px;
		position: relative;
	}
	.video__userIco {
		position: relative;
		display: block;
		width: 35px;
		height: 35px;
		img {
			height: 100%;
			border-radius: 50%;
		}
		i {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 12px;
			height: 12px;
			background-image: url(../img/slice/ico-user.png);
			background-size: 100%;
		}

	}
	.video__username {
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
		padding: 0 120px 0 55px;
		box-sizing: border-box;
		color: #34c791;
		font-size: 14px;
		@include ellipsis;
	    i {
	    	display: inline-block;
	    	width: 15px;
	    	height: 14px;
	    	margin-left: 3px;
	    	background-image: url(../img/slice/lv10@2x.png);
			background-size: 100%;
	    }
	}
	.video__time {
		position: absolute;
		bottom: 4px;
		left: 0;
		width: 100%;
		padding: 0 120px 0 55px;
		box-sizing: border-box;
		color: #999;
		font-size: 11px;
		@include ellipsis;
	}
	.video__download {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 105px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 13px;
		color: #fff;
		background-color: #ffb20d;
		border-radius: 5px;
	}
	.video__descrition {
		padding: 7px 10px;
		font-size: 14px;
		line-height: 21px;
		color: #333;
	}
	.video__info {
		padding-left: 10px;
		font-size: 10px;
		color: #999;
		span {
			margin-right: 8px;
		}
	}
	.video__share {
		position: absolute;
		right: 10px;
		bottom: 7px;
		width: 53px;
		height: 23px;
		line-height: 24px;
		text-indent: 24px;
		color: #ffb20d;
		font-size: 12px;
		border-radius: 5px;
		border: 1px solid #999;
		i {
			position: absolute;
			left: 8px;
			top: 5px;
			width: 13px;
			height: 13px;
			background-image: url(../img/slice/ico-share.png);
			background-size: 100%;
		}
	}
}

/*------tab------*/
.g-tab {
	position: relative;
	background-color: #fff;
}
.tab__nav {
	position: relative;
	height: 35px;
	line-height: 35px;
	.tab__title {
		width: 50%;
		float: left;
		text-align: center;
		font-size: 15px;
		color: #999;
		&.is-tabCurrent {
			color: #ffb20d;
		}
	}
	.tab__line {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		height: 2px;
		background-color: #ffb20d;
		transition-property: left;
		transition-duration: .2s;
		transition-timing-function: ease-out;
		transition-delay: 0;
	}
}
.tab__video {
	padding: 10px 1% 15px;
	margin-right: -1%;
	background-color: #f3f3f3;
	overflow: hidden;
	&.tab__videoTa {
		display: none;
	}
	.tab__videoList {
		position: relative;
		float: left;
		width: 48%;
		margin: 0 1% 10px 0;
		padding-bottom: 15px;
		border-radius: 4px;
		background-color: #fff;
		img {
			display: block;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			width: 100%;
		}
		.tab__videoCover {
			position: absolute;
			left: 0;
			bottom: 15px;
			width: 100%;
			height: 25px;
			background: linear-gradient(bottom, #000, rgba(0,0,0,0));
			z-index: 2;
		}
		.tab__videoIntro {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 32px;
			z-index: 3;
		}
		.tab__userIco {
			width: 25px;
			height: 25px;
			margin: 4px 0 0 5px;
			.avatar {
				border-radius: 50%;
			}
		}
		.tab__videoName {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 0 10px 0 35px;
			color: #fff;
			font-size: 12px;
			@include ellipsis;
		}
		.tab__videoInfo {
			position: absolute;
			left: 0;
			top: 15px;
			width: 100%;
			box-sizing: border-box;
			padding-left: 35px;
			i {
				display: inline-block;
				&.ico-like {
					width: 11px;
					height: 10px;
					margin-right: 2px;
					background-image: url(../img/slice/ico-like.png);
					background-size: 100%;
				}
				&.ico-look {
					width: 9px;
					height: 10px;
					margin: 0 2px 0 3px;
					background-image: url(../img/slice/ico-look.png);
					background-size: 100%;
				}
			}
			span {
				font-size: 10px;
				color: #999;
			}
		}
	}
}

.ui-loading {
	position: absolute;
	left: 50%;
	bottom: 3px;
	margin-left: -47px;
	height: 20px;
	text-align: center;
	background-color: #f3f3f3;
	line-height: 20px;
	i {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		background: url(../img/loading.gif) center top no-repeat;
		background-size: 100%;
	}
	span {
		font-size: 13px;
		color: #999;
		display: inline-block;
	}
}

/*------分享层--------*/
.share__cover {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, .7);
	color: #999;
}
.share__weixin {
	display: none;
	position: fixed;
	right: 20px;
	top: 10px;
	width: 168px;
	height: 38px;
	background-image: url(../img/slice/img-weixincover.png);
	background-size: 100%;
	font-size: 13px;
	color: #333;
	line-height: 46px;
	text-align: center;
	z-index: 6;
}
.share__bd {
	position: fixed;
	left: 0;
	bottom: -150px;
	width: 100%;
	height: 150px;
	background-color: #fff;
	z-index: 6;
	opacity: 0;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-out;
	transition-delay: 0;
	&.ui-slideUp {
		opacity: 1;
		transform: translate3d(0,-150px,0);
	}
	&.ui-slideDown {
		opacity: 0;
		transform: translate3d(0,0,0);
	}
}
.share__content {
	height: 110px;
	overflow: hidden;
}
.share__main {
	width: 200px;
	margin: 10px auto 0;
	h2 {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.share__item {
		margin-right: -25px;
		overflow: hidden;
	}
	.share__list {
		width: 50px;
		float: left;
		margin-right: 25px;
		text-align: center;
		span {
			display: inline-block;
			width: 40px;
			height: 40px;
			background-size: 100%;
			&.ico-sina {
				background-image: url(../img/slice/ico-sina.png);
			}
			&.ico-qq {
				background-image: url(../img/slice/ico-qq.png);
			}
			&.ico-qzone {
				background-image: url(../img/slice/ico-qzone.png);
			}
		}
		i{
			display: block;
			width: 50px;
			font-size: 10px;
		}
	}
}
.share__cancel {
	height: 39px;
	line-height: 39px;
	text-align: center;
	border-top: 1px solid #999;
	font-size: 13px;
}